#table, #table2 {
    text-align: center;
    margin: auto;
    background-color: lightgoldenrodyellow;.
    color: navy;
}

body {
    vertical-align: top;
    text-align: center;
    background-color: lightyellow;
    color: navy;
    font-family: "Hiragino Kaku Gothic Pro"
}